#cronometro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tempo {
  font-size: 32px; /* Tamanho maior para o cronômetro */
  font-weight: bold;
  text-align: center;
  background-color: green;
  color: white;
  width: 80%; /* Ajuste o tamanho do display */
  height: 50px;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: gray;
  color: white;
}
